/* TOC
1. general 
    1.1 focus
    1.2 header
    1.3 main
    1.4 footer
2. headings
3. text
4. buttons
*/

/* ============================
1. genereal
=============================== */

/* ============================
1.1 focus 
=============================== */

:focus {
    outline: 3px solid var(--clr-primary);
    outline-offset: 5px;
}

/* ============================
1.2 header
=============================== */


/* ============================
1.3 main
=============================== */


/* ============================
1.4 footer
=============================== */

/* ============================
2. headings
=============================== */

h1 {
    font-size: clamp(1.75rem, 1vw + 1.5rem, 4.5rem);
    font-weight: 700;
}

/* ============================
3. text
=============================== */

/* ============================
4. buttons
=============================== */

.buttonek {
    font-weight: 700;
    background-color: navy;
    color: powderblue;
    padding: 1em;
}

.buttonek:hover {
    background-color: royalblue;
    color: seashell;
}