/* TOC
1. general 
    1.1 focus
    1.2 colors
    1.3 header
    1.4 main
    1.5 footer
2. headings
3. text
4. buttons
*/

/* ============================
1. genereal
=============================== */



/* ============================
1.1 focus 
=============================== */

:focus {
    outline: 3px solid var(--clr-primary-700);
    outline-offset: 5px;
}

/* ============================
1.2 colors
=============================== */

:root {
	--clr-primary-900: hsl(123, 74%, 100%);
	--clr-primary-800: hsl(123, 74%, 80%);
	--clr-primary-700: hsl(123, 74%, 60%);
	--clr-primary-600: hsl(123, 74%, 40%);
	--clr-primary-500: hsl(123, 74%, 20%);
	--clr-secondary-900: hsl();
	--clr-secondary-700: hsl();
	--clr-secondary-500: hsl();
}

/* ============================
1.3 header
=============================== */

/* ============================
1.4 main
=============================== */

/* ============================
1.5 footer
=============================== */

/* ============================
2. headings
=============================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Helvetica, Arial, sans-serif;
}

h2,
h3 {
	font-weight: 700;
	color: var(--clr-primary-800);
}

h4,
h5,
h6 {
	font-weight: 500;
	color: var(--clr-primary-700);
}

h1 {
    font-size: clamp(1.75rem, 1vw + 1.5rem, 4.5rem);
	color: var(--clr-primary-900);
}

h2 {
	font-size: clamp(1.5rem, 1vw + 1.2rem, 2.5rem);
}

h3 {
	font-size: ;
}

h4 {
	font-size: ;
}

h5 {
	font-size: ;
}

h6 {
	font-size: ;
}

/* ============================
3. text
=============================== */

/* ============================
4. buttons
=============================== */

.buttonek {
    font-weight: 700;
    background-color: navy;
    color: powderblue;
    padding: 1em;
}

.buttonek:hover {
    background-color: royalblue;
    color: seashell;
}