/* TOC
1. general 
    1.1 focus
2. headings
3. text
4. buttons
*/

/* ============================
1. genereal
=============================== */

/* ============================
1.1 focus 
=============================== */

:focus {
    outline: 3px solid var(--clr-primary);
    outline-offset: 5px;
}

/* ============================
2. headings
=============================== */

h1 {
    font-size: clamp(1.75rem, 1vw + 1.5rem, 4.5rem);
    font-weight: 700;
}

/* ============================
3. text
=============================== */

/* ============================
4. buttons
=============================== */